/* Assuming Roboto is imported from Google Fonts in your HTML file or elsewhere in your CSS */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f5f9;  /* A soft, neutral background color */
}

/*Below is the register component*/
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;  /* Slightly increased gap */
  padding: 24px;  /* Increased padding for better spacing */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);  /* Enhancing the shadow a bit */
  background-color: #ffffff;  /* A pure white background */
  border-radius: 8px;  /* Adding some border-radius */
  transition: transform 0.2s;  /* Adding a transition for hover effect */
}

.register-form:hover {
  transform: translateY(-5px);  /* Slight lift on hover */
}

.register-input {
  padding: 12px;  /* More padding for better appearance */
  border: 1px solid #e2e8f0;  /* A softer border color */
  border-radius: 6px;  /* A softer border-radius */
  transition: border-color 0.2s, box-shadow 0.2s;  /* Transition for focus state */
}

.register-input:focus {
  border-color: #007BFF;  /* Color change on focus to match the button */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);  /* A focus ring */
  outline: none;  /* Removing browser default focus outline */
}

.register-button {
  padding: 12px;  /* A bit more padding */
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;  /* Transition for hover effect */
}

.register-button:hover {
  background-color: #084484;  /* A slightly darker shade on hover */
}

.login-logo {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;

}

.register-link {
    margin-top: 20px;

}